.sign-up, .log-in {
  text-align: center;
}

.sign-up h1, .log-in h1 {
  margin-bottom: 50px;
  margin-top: 80px;
  color: orange;
}

.auth-toggle-link {
  margin-top: 20px;
  color: orange;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}
