table {
  text-align: left;
  color: orange;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid orange;
  padding: 10px;
  min-height: 160px;
}

img {
  width: 100px;
  height: 100px;
}
